body {
  background-color: #EDF3F8;
  background-image: url("../../img/body-back.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% + 500px);
  background-position-y: -180px;
  background-size: 780px 780px;
}

@include breakpoint-down(820px) {
  body {
    background-position-x: calc(50%);
    background-position-y: calc(50% - 440px);
    background-size: 948px 948px;
  }
}

@include breakpoint-down(750px) {
  body {
    background-position-x: calc(50%);
    background-position-y: calc(50% - 440px);
    background-size: 780px 780px;
  }
}