.navbar__list {
  width: 232px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.navbar__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: rgb(59, 87, 110);
  mix-blend-mode: normal;
  opacity: 0.75;
  text-decoration: none;
}
.navbar__link:hover {
  color: rgb(55, 78, 97);
  opacity: 0.75;
}
.navbar__link:active {
  color: rgb(50, 67, 80);
}

@include breakpoint-down(665px) {

  .navbar__list {
    width: 200px;
  }
  
}

@include breakpoint-down(590px) {

  .navbar__list {
    width: 190px;
  }
  
}

@include breakpoint-down(551px) {

  .navbar__list {
    display: none;
  }
  
}